.layout{
  display:grid;
  grid-template-columns: 300px 1fr;
  gap:25px;
}

.card{
  background:#111113;
  border:1px solid rgba(255,0,0,0.18);
  padding:15px;
  border-radius:var(--radius);
}

.names{
  display:flex;
  justify-content:center;
  gap:20px;
  margin-bottom:25px;
}

.names input{
  width:320px;
  padding:10px;
  background:#0c0c0e;
  border:1px solid #2a0000;
  color:#fff;
  border-radius:8px;
  font-size:16px;
}
